.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  margin: 20px auto 0 auto;
  padding: 20px;
  width: 65%;
  border-radius: 6px;
  box-shadow: 2px 2px 3px #000000;

  p {
    margin: 0;
  }
}

.newAdd {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-task {
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    margin-left: 5px;
  }
}

.text-array {
  resize: none;
  height: 15px;
  min-height: 15px;
  max-height: 45px;
}

@media (max-width: 798px) {
  .newAdd {
    flex-direction: column;
  }

  .new-task {
    flex-direction: column;
  }

  .new-task p {
    margin: 0;
  }

  .new-task textarea {
    margin-bottom: 5px;
  }
}

@media (min-width: 798px) and (max-width: 1000px) {
  .newAdd {
    flex-direction: column;
  }
}
